body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




header {
  background-color:black;
  color: #fff;
  padding: 10px;
  

}
header > a{
  display: flex;
  justify-content: center;
  align-items: center ;


}
header h1 {
  text-align: center;
  margin: 1;
  font-size: 2.5rem;
  margin-bottom: 20px;

}




nav ul {


  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  

 
}




ul > li {
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-right: 20px;
  transition: 0.3s ease;
}
ul > li:hover{
  background-color: rgb(37, 37, 37);
  border-radius: 4px;
  cursor: pointer;
}






nav ul li a {
  color: #fff;
  text-decoration: none;
}




section {
  padding: 20px;
}




footer {
  background-color:black;
  color: #fff;
  padding: 10px;
  text-align: center;
}


label {
  display: block;
  margin-bottom: 5px;
}







section {
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}


header > a > img{
  width: 200px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px black;
  padding: 30px;
  gap: 20px;
}
.login > #escolher{
  display: flex;
}
.login > h2{
    font-size: 2rem;
}

.field > label{
  display: inline-block;
  
}

.input{
  width: 400px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #323232;
  border: none;
  
}.input:focus{
  border: 0.5px black;
}

    .inputs > input{
                display: none;
    }
    .inputs > label{
                cursor: pointer;
    }
    .inputs > input + label::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid gray;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        margin-bottom: 3px;
        transition: border .1s ease-in-out;
        box-sizing: border-box;
        padding: 1;
        cursor: pointer;
    }
    .inputs > input:hover + label::before{
        border: 3px solid gray;
    }

    .inputs > input:checked + label::before{
        background-color: white;
        box-sizing: border-box;
        border: 3px solid #323232;
        padding: 3.5px;
            
    }
    .login form{
      gap: 20px;
    }

    #entrar > label{
      margin-bottom: 10px;
      margin-top: 10px;
      
    }
    input[type="submit"]{
      width: 230px;
      padding: 12px 24px;
      border-radius: 4px;
      border: none;
      background-color: #323232;
      color: white;
      cursor: pointer;
      transition: .3s ease;

    }
    input[type="submit"]:hover{
      background-color: #111111;
    }